{% extends 'basic_app/base.html' %}

{% block active_rentals %}

<div class="container"><h1><b>Adobe Transportation</b></h1><h2>Customer Details</h2></div>



{% endblock %}



{% block body_content %}
<div class="container">
	
<p>{{customer_detail.first_name}} {{ customer_detail.last_name }}</p>
	<p>{{customer_detail.phone}}</p>
	<p>{{customer_detail.email}}</p>

</div>

<div class="container">
	<p><a class="btn btn-danger" href="{% url 'basic_app:update_customer' pk=customer_detail.pk %}">UPDATE</a></p>
</div>



{% endblock %}